1. Raspberry Pi/2. Control Center/NodeRed-Dashboard/dashboard_v6
[{"id":"9f5ce4af.6dcc48","type":"tab","label":"Weather"},{"id":"7bcf7daf.0607c4","type":"tab","label":"System"},{"id":"393672c6.88dd1e","type":"tab","label":"IO Control"},{"id":"a50ec27.d0ed84","type":"tab","label":"GetIP"},{"id":"98e20565.5937e8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"4639cce5.6b0f24","type":"mqtt-broker","z":"","broker":"m12.cloudmqtt.com","port":"13103","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"dfe01e63.6c66","type":"mqtt-broker","z":"","broker":"m12.cloudmqtt.com","port":"13103","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"c9110894.5af5f8","type":"ui_base","name":"Dashboard","theme":"theme-dark"},{"id":"9e7934a.01babc8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"2ac12111.decc3e","type":"ui_group","z":"","name":"Outdoor Weather","tab":"9e7934a.01babc8","order":1,"disp":true,"width":"6"},{"id":"fba6a4e7.a2a528","type":"ui_group","z":"","name":"Lights","tab":"5b36a093.582e9","order":1,"disp":true,"width":"6"},{"id":"5b83b417.a9e62c","type":"ivona-credentials","z":"","name":"mpho112","api_key":"GDNAIVZKP4LOJKJZQJWQ","password":"!nerd001"},{"id":"446080d3.89306","type":"ui_group","z":"","name":"Date and Time","tab":"9e7934a.01babc8","order":2,"disp":false,"width":"20"},{"id":"1d8976cc.1c31f9","type":"ui_group","z":"","name":"CPU Load","tab":"573d1eda.35593","order":2,"disp":true,"width":"6"},{"id":"ebb6b599.bcf4f8","type":"ui_group","z":"","name":"Memory","tab":"573d1eda.35593","order":3,"disp":true,"width":"6"},{"id":"fafbb456.a20978","type":"ui_group","z":"","name":"System Information","tab":"573d1eda.35593","order":1,"disp":true,"width":"6"},{"id":"573d1eda.35593","type":"ui_tab","z":"","name":"System","icon":"computer","order":4},{"id":"8b703f8c.ba781","type":"ui_group","z":"","name":"CPU Load","tab":"","order":2,"disp":true,"width":"6"},{"id":"c240bfd8.15d5d","type":"ui_group","z":"","name":"Memory","tab":"","order":3,"disp":true,"width":"6"},{"id":"bc6fd11d.2f479","type":"ui_group","z":"","name":"System Information","tab":"","order":1,"disp":true,"width":"6"},{"id":"40933c2c.f546f4","type":"mqtt-broker","z":"","broker":"","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"bd0ae382.7c9dd","type":"mqtt-broker","z":"","broker":"","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"44b73e93.a294b","type":"mqtt-broker","z":"","broker":"","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"17817eee.4e9c31","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"3d9d2338.21e9fc","type":"ui_group","name":"faa532ac.5082a","tab":"9e7934a.01babc8","order":3,"disp":true,"width":6},{"id":"a14ee0c7.45639","type":"ui_group","z":"","name":"Bedroom Temp","tab":"9e7934a.01babc8","order":4,"disp":true,"width":"6"},{"id":"a563a6ac.dd65f8","type":"mqtt-broker","z":"","broker":"io.adafruit.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"6d247583.39c69c","type":"mqtt-broker","z":"","broker":"Localhost","port":"1883","clientid":"LocalNodeRed","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"f04d7f9f.83dff","type":"ui_group","z":"","name":"Indoor Temp Chart","tab":"9e7934a.01babc8","order":5,"disp":true,"width":"6"},{"id":"349edb6f.2de444","type":"ui_group","z":"","name":"Charts","tab":"5b37e83a.c6e218","disp":true,"width":"6"},{"id":"db7c5444.74cd68","type":"ui_group","name":"Group 8","tab":"9e7934a.01babc8","order":6,"disp":true,"width":6},{"id":"9b122bc8.02a768","type":"pushbullet-config","z":"","name":"Pushbullet"},{"id":"860f26c0.1b5888","type":"ui_group","z":"","name":"CPU Load History","tab":"573d1eda.35593","disp":true,"width":"6"},{"id":"58727f7e.f4ba8","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"2"},{"id":"aad253b5.f48c7","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6"},{"id":"6430dfda.c228d","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"demo","tz":""},{"id":"45cec43e.24967c","type":"ui_group","z":"","name":"Lounge ","tab":"9e7934a.01babc8","order":7,"disp":true,"width":"6"},{"id":"5b37e83a.c6e218","type":"ui_tab","z":"","name":"Charts","icon":"dashboard","order":3},{"id":"8e362451.200bc8","type":"google-api-config","z":""},{"id":"c52a7adc.1fa088","type":"ui_group","z":"","name":"Main Bedroom","tab":"9e7934a.01babc8","order":8,"disp":true,"width":"6"},{"id":"b28c34bc.38b538","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"b0d1e49b.288478","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"5b36a093.582e9","type":"ui_tab","z":"","name":"Control","icon":"dashboard","order":2},{"id":"ff9851ea.694fe","type":"inject","z":"9f5ce4af.6dcc48","name":"Timestamp","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"x":253,"y":164,"wires":[["dc5d7c3.8d45d8","2e229976.67e026","42941c3b.542da4"]]},{"id":"dc5d7c3.8d45d8","type":"openweathermap","z":"9f5ce4af.6dcc48","name":"","wtype":"current","lon":"","lat":"","city":"Cape Town","country":"South Africa","x":453,"y":164,"wires":[["2e2ce20f.7644ee","2670e0dc.311d4","1ed7edbe.30fb22"]]},{"id":"2670e0dc.311d4","type":"function","z":"9f5ce4af.6dcc48","name":"function","func":"if (msg.payload.tempc) {\n    msg.payload = msg.payload.tempc;\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":680,"y":220,"wires":[["e95b1c0.3e547e8","249e76a9.3d175a"]]},{"id":"e670656a.a09418","type":"ui_gauge","z":"9f5ce4af.6dcc48","name":"Humidity","group":"2ac12111.decc3e","order":0,"width":"0","height":"0","gtype":"gage","title":"Humidity","label":"Outdoor ","format":"{{value}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":920,"y":183,"wires":[]},{"id":"2e2ce20f.7644ee","type":"function","z":"9f5ce4af.6dcc48","name":"function","func":"if (msg.payload.humidity) {\n    msg.payload = msg.payload.humidity;\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":680,"y":180,"wires":[["e670656a.a09418"]]},{"id":"e95b1c0.3e547e8","type":"ui_gauge","z":"9f5ce4af.6dcc48","name":"Temperature","group":"2ac12111.decc3e","order":0,"width":"0","height":"0","gtype":"gage","title":"Temperature","label":"Outdoor","format":"{{value}}°C","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"x":930,"y":223,"wires":[]},{"id":"d9cf422d.33dfa","type":"ui_text","z":"9f5ce4af.6dcc48","group":"2ac12111.decc3e","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":910,"y":140,"wires":[]},{"id":"b7894ee8.fc363","type":"OS","z":"7bcf7daf.0607c4","name":"","x":450,"y":380,"wires":[["e20aff0e.35ff8","500e0692.2134d8","e3820150.9f8ae"]]},{"id":"6c702c4.d9869d4","type":"Uptime","z":"7bcf7daf.0607c4","name":"","x":460,"y":340,"wires":[["cd0c88ce.fb1af8"]]},{"id":"cac4db27.255648","type":"CPUs","z":"7bcf7daf.0607c4","name":"","x":450,"y":420,"wires":[["30f735f9.9e113a"]]},{"id":"56818fef.e5d5","type":"Loadavg","z":"7bcf7daf.0607c4","name":"","x":460,"y":180,"wires":[["bfeafc51.26191","ac957a47.2ae6a8","e41882fd.5bc06","1b1027cc.962a38"]]},{"id":"1d61d51d.ad922b","type":"Memory","z":"7bcf7daf.0607c4","name":"","x":460,"y":580,"wires":[["24769499.37f52c","957bbde1.52025","e4d65c43.b5524","f4353f20.1daac"]]},{"id":"55c71761.736d18","type":"inject","z":"7bcf7daf.0607c4","name":"update","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"x":260,"y":300,"wires":[["b7894ee8.fc363","6c702c4.d9869d4","cac4db27.255648","56818fef.e5d5","1d61d51d.ad922b","b256f7ef.7b8678","dd8c7750.476728"]]},{"id":"24769499.37f52c","type":"function","z":"7bcf7daf.0607c4","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":660,"wires":[["ce80b156.56159"]]},{"id":"ce80b156.56159","type":"ui_gauge","z":"7bcf7daf.0607c4","name":"Memory Usage","group":"ebb6b599.bcf4f8","order":1,"width":"0","height":"0","gtype":"gage","title":"1 Minute","label":"Usage","format":"{{value | number:2}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":880,"y":660,"wires":[]},{"id":"957bbde1.52025","type":"function","z":"7bcf7daf.0607c4","name":"","func":"function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.totalmem);\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":700,"wires":[["60011d67.60fa84"]]},{"id":"e4d65c43.b5524","type":"function","z":"7bcf7daf.0607c4","name":"","func":"function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.freemem);\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":740,"wires":[["73c9d015.76df6"]]},{"id":"60011d67.60fa84","type":"ui_text","z":"7bcf7daf.0607c4","group":"ebb6b599.bcf4f8","order":2,"width":"0","height":"0","name":"","label":"Total Memory","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":700,"wires":[]},{"id":"73c9d015.76df6","type":"ui_text","z":"7bcf7daf.0607c4","group":"ebb6b599.bcf4f8","order":3,"width":"0","height":"0","name":"","label":"Free Memory","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":740,"wires":[]},{"id":"cd0c88ce.fb1af8","type":"function","z":"7bcf7daf.0607c4","name":"","func":"function timeConversion(millisec) {\n\n    var seconds = (millisec / 1000).toFixed(1);\n\n    var minutes = (millisec / (1000 * 60)).toFixed(1);\n\n    var hours = (millisec / (1000 * 60 * 60)).toFixed(1);\n\n    var days = (millisec / (1000 * 60 * 60 * 24)).toFixed(1);\n\n    if (seconds < 60) {\n        return seconds + \" Sec\";\n    } else if (minutes < 60) {\n        return minutes + \" Min\";\n    } else if (hours < 24) {\n        return hours + \" Hrs\";\n    } else {\n        return days + \" Days\"\n    }\n}\n\nmsg.payload = timeConversion(msg.payload.uptime * 1000);\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":380,"wires":[["d2b11cf0.bed81"]]},{"id":"d2b11cf0.bed81","type":"ui_text","z":"7bcf7daf.0607c4","group":"fafbb456.a20978","order":1,"width":"0","height":"0","name":"","label":"Uptime","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":380,"wires":[]},{"id":"e20aff0e.35ff8","type":"function","z":"7bcf7daf.0607c4","name":"","func":"msg.payload = msg.payload.hostname;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":420,"wires":[["86885a93.39bf88"]]},{"id":"86885a93.39bf88","type":"ui_text","z":"7bcf7daf.0607c4","group":"fafbb456.a20978","order":1,"width":"0","height":"0","name":"","label":"Hostname","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":420,"wires":[]},{"id":"500e0692.2134d8","type":"function","z":"7bcf7daf.0607c4","name":"","func":"msg.payload = msg.payload.platform;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":460,"wires":[["72cd96ac.ac3a88"]]},{"id":"72cd96ac.ac3a88","type":"ui_text","z":"7bcf7daf.0607c4","group":"fafbb456.a20978","order":1,"width":"0","height":"0","name":"","label":"Platform","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":460,"wires":[]},{"id":"e3820150.9f8ae","type":"function","z":"7bcf7daf.0607c4","name":"","func":"msg.payload = msg.payload.release;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":500,"wires":[["140737d0.ac5ac8"]]},{"id":"140737d0.ac5ac8","type":"ui_text","z":"7bcf7daf.0607c4","group":"fafbb456.a20978","order":1,"width":"0","height":"0","name":"","label":"Release","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":500,"wires":[]},{"id":"30f735f9.9e113a","type":"function","z":"7bcf7daf.0607c4","name":"","func":"msg.payload = msg.payload.cpus[0].model;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":540,"wires":[["dc0bb978.484908"]]},{"id":"dc0bb978.484908","type":"ui_text","z":"7bcf7daf.0607c4","group":"fafbb456.a20978","order":1,"width":"0","height":"0","name":"","label":"CPU 1","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":540,"wires":[]},{"id":"bfeafc51.26191","type":"function","z":"7bcf7daf.0607c4","name":"","func":"msg.payload = msg.payload.loadavg[0];\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":260,"wires":[["3fb9cd9f.8e4402"]]},{"id":"3fb9cd9f.8e4402","type":"ui_chart","z":"7bcf7daf.0607c4","name":"CPU Load - Historical","group":"860f26c0.1b5888","order":0,"width":"0","height":"0","label":"24 Hours","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderUnit":"86400","x":880,"y":260,"wires":[[],[]]},{"id":"f4353f20.1daac","type":"function","z":"7bcf7daf.0607c4","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":620,"wires":[["e8a2f78d.f3dca8"]]},{"id":"e8a2f78d.f3dca8","type":"ui_chart","z":"7bcf7daf.0607c4","name":"Memory - 24 Hours","group":"ebb6b599.bcf4f8","order":0,"width":"0","height":"0","label":"24 Hours","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderUnit":"86400","x":890,"y":620,"wires":[[],[]]},{"id":"27b2ff6d.cfb9a","type":"comment","z":"7bcf7daf.0607c4","name":"CPU Load","info":"","x":460,"y":80,"wires":[]},{"id":"96cd6c38.b19df","type":"comment","z":"7bcf7daf.0607c4","name":"Memory Usage","info":"","x":480,"y":540,"wires":[]},{"id":"4279f3e7.9408ac","type":"comment","z":"7bcf7daf.0607c4","name":"System Information","info":"","x":490,"y":260,"wires":[]},{"id":"b256f7ef.7b8678","type":"NetworkIntf","z":"7bcf7daf.0607c4","name":"","x":470,"y":300,"wires":[["6ba96cc0.ddd2d4"]]},{"id":"6ba96cc0.ddd2d4","type":"function","z":"7bcf7daf.0607c4","name":"","func":"try {\n    msg.payload = msg.payload.networkInterfaces.eth0[0].address;\n}\ncatch(err) {\n    msg.payload = msg.payload.networkInterfaces.wlan0[0].address;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":340,"wires":[["5daa7aeb.a44584"]]},{"id":"5daa7aeb.a44584","type":"ui_text","z":"7bcf7daf.0607c4","group":"fafbb456.a20978","order":3,"width":"0","height":"0","name":"","label":"RPi IP","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":340,"wires":[]},{"id":"dd8c7750.476728","type":"exec","z":"7bcf7daf.0607c4","command":"/opt/vc/bin/vcgencmd ","addpay":true,"append":"measure_temp","useSpawn":"","timer":"","name":"","x":500,"y":120,"wires":[["3c4fd7ff.d76dd8"],[],[]]},{"id":"3c4fd7ff.d76dd8","type":"function","z":"7bcf7daf.0607c4","name":"","func":"msg.payload = msg.payload.replace('temp=', '').replace('\\'C','');\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":100,"wires":[["6c2fc521.3b544c"]]},{"id":"6c2fc521.3b544c","type":"ui_gauge","z":"7bcf7daf.0607c4","name":"CPU Temp","group":"1d8976cc.1c31f9","order":1,"width":"0","height":"0","gtype":"gage","title":"Temp","label":"Temp","format":"{{value}}°C","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"x":853,"y":97,"wires":[]},{"id":"ac957a47.2ae6a8","type":"function","z":"7bcf7daf.0607c4","name":"","func":"msg.payload = msg.payload.loadavg[0];\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":140,"wires":[["e36f7156.f0e9d"]]},{"id":"e41882fd.5bc06","type":"function","z":"7bcf7daf.0607c4","name":"","func":"msg.payload = msg.payload.loadavg[1];\nreturn msg;","outputs":1,"noerr":0,"x":691,"y":178,"wires":[["73916d33.acd974"]]},{"id":"1b1027cc.962a38","type":"function","z":"7bcf7daf.0607c4","name":"","func":"msg.payload = msg.payload.loadavg[2];\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":221,"wires":[["651d738f.3b38ac"]]},{"id":"e36f7156.f0e9d","type":"ui_gauge","z":"7bcf7daf.0607c4","name":"CPU Load 1","group":"1d8976cc.1c31f9","order":1,"width":"0","height":"0","gtype":"gage","title":"1 Minute","label":"load","format":"{{value | number:2}}","min":0,"max":"4","colors":["#00b500","#e6e600","#ca3838"],"x":850,"y":140,"wires":[]},{"id":"73916d33.acd974","type":"ui_gauge","z":"7bcf7daf.0607c4","name":"CPU Load 2","group":"860f26c0.1b5888","order":2,"width":"3","height":"3","gtype":"gage","title":"5 Minutes","label":"load","format":"{{value | number:2}}","min":0,"max":"4","colors":["#00b500","#e6e600","#ca3838"],"x":850,"y":180,"wires":[]},{"id":"651d738f.3b38ac","type":"ui_gauge","z":"7bcf7daf.0607c4","name":"CPU Load 3","group":"860f26c0.1b5888","order":4,"width":"3","height":"3","gtype":"gage","title":"15 Minutes","label":"load","format":"{{value | number:2}}","min":0,"max":"4","colors":["#00b500","#e6e600","#ca3838"],"x":850,"y":220,"wires":[]},{"id":"7d1f7689.3b9018","type":"comment","z":"9f5ce4af.6dcc48","name":"Weather","info":"","x":233,"y":124,"wires":[]},{"id":"119c60c7.ec594f","type":"ui_gauge","z":"9f5ce4af.6dcc48","name":"Humidity","group":"a14ee0c7.45639","order":0,"width":"0","height":"0","gtype":"gage","title":"Humidity","label":"Indoor ","format":"{{value}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":900,"y":340,"wires":[]},{"id":"88fb2eec.431d1","type":"ui_gauge","z":"9f5ce4af.6dcc48","name":"Temperature","group":"a14ee0c7.45639","order":0,"width":"0","height":"0","gtype":"gage","title":"Temperature","label":"Indoor","format":"{{value}}°C","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"x":910,"y":380,"wires":[]},{"id":"806f592a.790bf8","type":"debug","z":"9f5ce4af.6dcc48","name":"","active":false,"console":"false","complete":"payload","x":433,"y":204,"wires":[]},{"id":"8da3dfda.a27d3","type":"mqtt in","z":"9f5ce4af.6dcc48","name":"ESP8266_DHT11","topic":"home/mainbedroom/temp","qos":"0","broker":"17817eee.4e9c31","x":243,"y":224,"wires":[["2339305a.365cb","806f592a.790bf8","e9b65039.f027d","6aced9ca.72c548"]]},{"id":"2339305a.365cb","type":"function","z":"9f5ce4af.6dcc48","name":"function","func":"msg.payload = msg.payload.split(',');\ntemp = msg.payload[0].split(':');\nhum = msg.payload[1].split(':');\nldr = msg.payload[2].split(':');\nmsg.payload = [parseFloat(temp[1]), parseFloat(hum[1]), parseFloat(ldr[1])];\nreturn msg;\n","outputs":1,"noerr":0,"x":420,"y":320,"wires":[["428fea09.dc3404","4f22849.10ef37c","c6b15b19.7bc678","e67a06e1.edce28","6f34ed6a.a1ee34"]]},{"id":"428fea09.dc3404","type":"function","z":"9f5ce4af.6dcc48","name":"function","func":"msg.payload = msg.payload[1]\nreturn msg;\n","outputs":1,"noerr":0,"x":673,"y":338,"wires":[["119c60c7.ec594f"]]},{"id":"4f22849.10ef37c","type":"function","z":"9f5ce4af.6dcc48","name":"function","func":"msg.payload = msg.payload[0]\nreturn msg;\n","outputs":1,"noerr":0,"x":673,"y":378,"wires":[["88fb2eec.431d1","f43405fc.3baac8"]]},{"id":"614f6971.1453e8","type":"ui_chart","z":"9f5ce4af.6dcc48","name":"Temperature","group":"349edb6f.2de444","order":0,"width":"0","height":"0","label":"Indoor Temp","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"Temperature","ymin":"","ymax":"","removeOlder":1,"removeOlderUnit":"3600","x":1098,"y":463,"wires":[[],[]]},{"id":"249e76a9.3d175a","type":"ui_chart","z":"9f5ce4af.6dcc48","name":"","group":"349edb6f.2de444","order":0,"width":"0","height":"0","label":"Outdoor Temp","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderUnit":"3600","x":910,"y":263,"wires":[[],[]]},{"id":"1092d1a0.772fbe","type":"ui_switch","z":"393672c6.88dd1e","name":"Bedroom On/Off","label":"Bedroom On/Off","group":"fba6a4e7.a2a528","order":0,"width":"6","height":"2","passthru":true,"topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":520,"y":160,"wires":[["7106c623.424638","71691f9c.3584d"]]},{"id":"7106c623.424638","type":"mqtt out","z":"393672c6.88dd1e","name":"BedroomLight","topic":"home/mainbedroom/light","qos":"0","retain":"","broker":"98e20565.5937e8","x":760,"y":100,"wires":[]},{"id":"71691f9c.3584d","type":"function","z":"393672c6.88dd1e","name":"function","func":"if (msg.payload == 1) {\n    msg.payload = 'Light switched ON!'\n    return msg;\n}\nelse if (msg.payload === 0) {\n    msg.payload = 'Light switched OFF!'\n    return msg;\n}\nelse {\n    return null;\n}","outputs":1,"noerr":0,"x":740,"y":160,"wires":[["972ebe96.4808d","9f125cf2.45ae9","a6583841.14b0c8"]]},{"id":"972ebe96.4808d","type":"play audio","z":"393672c6.88dd1e","name":"","voice":"1","x":930,"y":140,"wires":[]},{"id":"9f125cf2.45ae9","type":"debug","z":"393672c6.88dd1e","name":"","active":false,"console":"false","complete":"false","x":930,"y":180,"wires":[]},{"id":"a6583841.14b0c8","type":"ui_toast","z":"393672c6.88dd1e","position":"top left","displayTime":"3","name":"","x":1050,"y":320,"wires":[]},{"id":"ea6b1de7.9a0f7","type":"comment","z":"393672c6.88dd1e","name":"Buttons and Switches","info":"","x":540,"y":60,"wires":[]},{"id":"f8e9c06e.973cb","type":"debug","z":"9f5ce4af.6dcc48","name":"","active":false,"console":"false","complete":"false","x":1094,"y":421,"wires":[]},{"id":"f43405fc.3baac8","type":"delay","z":"9f5ce4af.6dcc48","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"3","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":912,"y":421,"wires":[["614f6971.1453e8","f8e9c06e.973cb"]]},{"id":"4b030219.275ecc","type":"exec","z":"a50ec27.d0ed84","command":"hostname -I","addpay":false,"append":"","useSpawn":false,"timer":"","name":"getIP","x":270,"y":180,"wires":[["625ebb49.413f44"],[],[]]},{"id":"e4d863f7.ddc86","type":"inject","z":"a50ec27.d0ed84","name":"GetIP","topic":"IP For RaspberryPi","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":50,"y":100,"wires":[[]]},{"id":"3fbf9b56.2a4444","type":"debug","z":"a50ec27.d0ed84","name":"test out","active":false,"console":"false","complete":"payload","x":660,"y":260,"wires":[]},{"id":"1e1df98d.e54836","type":"delay","z":"a50ec27.d0ed84","name":"Delay","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":510,"y":260,"wires":[["3fbf9b56.2a4444","d84ccaf8.1763d8","ad0deb7b.a67988"]]},{"id":"d84ccaf8.1763d8","type":"pushbullet","z":"a50ec27.d0ed84","config":"9b122bc8.02a768","pushtype":"note","title":"Raspberry PI IP","chan":"","name":"","x":680,"y":300,"wires":[]},{"id":"625ebb49.413f44","type":"function","z":"a50ec27.d0ed84","name":"","func":"msg.payload = 'You local Raspberry Pi IP: ' + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":220,"wires":[["1e1df98d.e54836"]]},{"id":"d3653ea.6ba31c","type":"delay","z":"a50ec27.d0ed84","name":"Delay","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":150,"y":140,"wires":[["4b030219.275ecc"]]},{"id":"1634490e.cac8b7","type":"ui_button","z":"393672c6.88dd1e","name":"REBOOT PI","group":"fafbb456.a20978","order":0,"width":0,"height":0,"label":"REBOOT","color":"red","icon":"","payload":"","payloadType":"date","topic":"REBOOT PI","x":510,"y":760,"wires":[["96df08ee.3c64a8","ab49ad4b.86b07"]]},{"id":"25a4fb99.ed53d4","type":"exec","z":"393672c6.88dd1e","command":"sudo reboot","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":870,"y":760,"wires":[[],[],[]]},{"id":"96df08ee.3c64a8","type":"delay","z":"393672c6.88dd1e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":760,"wires":[["25a4fb99.ed53d4"]]},{"id":"ad0deb7b.a67988","type":"e-mail","z":"a50ec27.d0ed84","server":"smtp.gmail.com","port":"465","name":"mpho112@gmail.com","dname":"email","x":644.1666412353516,"y":209,"wires":[]},{"id":"7e4d7021.80423","type":"ui_button","z":"393672c6.88dd1e","name":"SHUTDOWN PI","group":"fafbb456.a20978","order":0,"width":0,"height":0,"label":"SHUTDOWN","color":"red","icon":"","payload":"","payloadType":"date","topic":"SHUTDOWN PI","x":520,"y":800,"wires":[["db94243b.756d68","ab49ad4b.86b07"]]},{"id":"53d2bb5e.34bcf4","type":"exec","z":"393672c6.88dd1e","command":"sudo shutdown -h +1","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":900,"y":800,"wires":[[],[],[]]},{"id":"db94243b.756d68","type":"delay","z":"393672c6.88dd1e","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":800,"wires":[["53d2bb5e.34bcf4"]]},{"id":"1e5fce64.fdaee2","type":"ui_template","z":"393672c6.88dd1e","group":"fafbb456.a20978","name":"css","order":0,"width":"0","height":"0","format":"<style>\n  .filled { \n      height: 110% !important;\n      padding: 50% !important;\n      margin: 50% !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 28px;\n}\n\n   .smallfont {\n  font-size: 16px;\n}\n  \n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),100);\n    navigator.vibrate(80);\n    });\n    \n</script>","storeOutMessages":true,"fwdInMessages":true,"x":170,"y":360,"wires":[[]]},{"id":"c6b15b19.7bc678","type":"debug","z":"9f5ce4af.6dcc48","name":"","active":false,"console":"false","complete":"payload","x":690,"y":300,"wires":[]},{"id":"e67a06e1.edce28","type":"function","z":"9f5ce4af.6dcc48","name":"function","func":"msg.payload = Math.round(msg.payload[2]/10.0)\nreturn msg;\n","outputs":1,"noerr":0,"x":670.9167175292969,"y":422.16665840148926,"wires":[["bdc6be3.2cd0a4","9ee3e515.7d6458","1631acfc.4c6943","5c82b9c1.9d8a28"]]},{"id":"bdc6be3.2cd0a4","type":"ui_gauge","z":"9f5ce4af.6dcc48","name":"","group":"a14ee0c7.45639","order":0,"width":0,"height":0,"gtype":"gage","title":"luminosity","label":"luminosity","format":"{{value}}%","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff15"],"x":896.9583740234375,"y":496.3333435058594,"wires":[]},{"id":"5c82b9c1.9d8a28","type":"delay","z":"9f5ce4af.6dcc48","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"3","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":907,"y":537,"wires":[["c7fcb98.28d4248","d6cf6df4.44cb4"]]},{"id":"d6cf6df4.44cb4","type":"debug","z":"9f5ce4af.6dcc48","name":"","active":false,"console":"false","complete":"false","x":1095,"y":539,"wires":[]},{"id":"c7fcb98.28d4248","type":"ui_chart","z":"9f5ce4af.6dcc48","name":"luminosity","group":"349edb6f.2de444","order":0,"width":"0","height":"0","label":"luminosity","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"basis","nodata":"luminosity","ymin":"","ymax":"","removeOlder":1,"removeOlderUnit":"3600","x":1085,"y":579,"wires":[[],[]]},{"id":"9ee3e515.7d6458","type":"function","z":"9f5ce4af.6dcc48","name":"function","func":"if (msg.payload > 60){\n    msg.payload = 'Good Lighting';\n}\nelse if ((msg.payload > 45) && (msg.payload < 60)){\n    msg.payload = 'Moderate Lighting';\n} \nelse{\n    msg.payload = 'Bad Lighting';\n} \n\nreturn msg;\n","outputs":1,"noerr":0,"x":671,"y":475,"wires":[["1631acfc.4c6943","322743ad.c6affc"]]},{"id":"1631acfc.4c6943","type":"debug","z":"9f5ce4af.6dcc48","name":"","active":false,"console":"false","complete":"payload","x":910,"y":458,"wires":[]},{"id":"322743ad.c6affc","type":"ui_text","z":"9f5ce4af.6dcc48","group":"a14ee0c7.45639","order":0,"width":0,"height":0,"name":"luminosity","label":"","format":"{{msg.payload}}","layout":"col-center","x":896,"y":575,"wires":[]},{"id":"1ed7edbe.30fb22","type":"function","z":"9f5ce4af.6dcc48","name":"function","func":"function ucwords (str) {\n    str = (str + '').toLowerCase();\n    return str.replace(/^([a-z])|\\s+([a-z])/g, function ($1) {\n        return $1.toUpperCase();\n    });\n}\nmsg.payload = ucwords(msg.payload.detail);\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":140,"wires":[["d9cf422d.33dfa","b8f43cf6.52db2"]]},{"id":"b8f43cf6.52db2","type":"debug","z":"9f5ce4af.6dcc48","name":"","active":false,"console":"false","complete":"false","x":1090,"y":140,"wires":[]},{"id":"6f34ed6a.a1ee34","type":"file","z":"9f5ce4af.6dcc48","name":"templog","filename":"/home/pi/Logs/temp","appendNewline":true,"createDir":true,"overwriteFile":"true","x":680,"y":260,"wires":[]},{"id":"c0bdbe68.135eb","type":"status","z":"9f5ce4af.6dcc48","name":"","scope":["8da3dfda.a27d3"],"x":240,"y":80,"wires":[["d2fef74c.661af8"]]},{"id":"d2fef74c.661af8","type":"debug","z":"9f5ce4af.6dcc48","name":"","active":false,"console":"false","complete":"true","x":390,"y":80,"wires":[]},{"id":"3cff790a.b46426","type":"exec","z":"393672c6.88dd1e","command":"mplayer http://edge.iono.fm/xice/touchcentral_live_medium.aac","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":930,"y":600,"wires":[[],[],[]]},{"id":"37c007b3.0b9228","type":"ui_switch","z":"393672c6.88dd1e","name":"","label":"PSU On/Off","group":"fba6a4e7.a2a528","order":0,"width":"6","height":"2","passthru":true,"topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":510,"y":300,"wires":[["f543b4ff.1248b8","904f936d.f5c03","f3702d48.eb07f"]]},{"id":"f543b4ff.1248b8","type":"rpi-gpio out","z":"393672c6.88dd1e","name":"","pin":"31","set":true,"level":"1","out":"out","x":720,"y":240,"wires":[]},{"id":"f3702d48.eb07f","type":"function","z":"393672c6.88dd1e","name":"function","func":"if (msg.payload === 0) {\n    msg.payload = 'PSU switched ON!'\n    return msg;\n}\nelse if (msg.payload == 1) {\n    msg.payload = 'PSU switched OFF!'\n    return msg;\n}\nelse {\n    return null;\n}","outputs":1,"noerr":0,"x":700,"y":320,"wires":[["a6583841.14b0c8"]]},{"id":"675e09b4.b4b908","type":"ui_switch","z":"393672c6.88dd1e","name":"","label":"TV AmbiLight On/Off","group":"fba6a4e7.a2a528","order":0,"width":"6","height":"2","passthru":true,"topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":540,"y":400,"wires":[[]]},{"id":"fb284c42.580c5","type":"ui_switch","z":"393672c6.88dd1e","name":"","label":"XXX On/Off","group":"fba6a4e7.a2a528","order":0,"width":"6","height":"2","passthru":true,"topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":510,"y":500,"wires":[[]]},{"id":"1ab15afa.4f9ad5","type":"ui_switch","z":"393672c6.88dd1e","name":"","label":"XXX On/Off","group":"fba6a4e7.a2a528","order":0,"width":"6","height":"2","passthru":true,"topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":510,"y":540,"wires":[[]]},{"id":"ae5d72ea.ddedc","type":"rpi-gpio out","z":"393672c6.88dd1e","name":"","pin":"33","set":true,"level":"1","out":"out","x":720,"y":360,"wires":[]},{"id":"814c5bef.4f9a18","type":"rpi-gpio out","z":"393672c6.88dd1e","name":"","pin":"35","set":true,"level":"1","out":"out","x":740,"y":500,"wires":[]},{"id":"3278214b.c735de","type":"rpi-gpio out","z":"393672c6.88dd1e","name":"","pin":"37","set":true,"level":"1","out":"out","x":740,"y":540,"wires":[]},{"id":"1bd1f7a6.8a9448","type":"ui_button","z":"393672c6.88dd1e","name":"","group":"fba6a4e7.a2a528","order":0,"width":0,"height":0,"label":"Touch Central On","color":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":530,"y":600,"wires":[["3cff790a.b46426","511ef398.33f19c"]]},{"id":"fb3df379.6b8c5","type":"exec","z":"393672c6.88dd1e","command":"pkill -9 mplayer","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":780,"y":640,"wires":[[],[],[]]},{"id":"5c4e454f.7a220c","type":"ui_button","z":"393672c6.88dd1e","name":"","group":"fba6a4e7.a2a528","order":0,"width":0,"height":0,"label":"Touch Central Off","color":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":530,"y":640,"wires":[["fb3df379.6b8c5","511ef398.33f19c"]]},{"id":"4bad4aa4.12baa4","type":"function","z":"393672c6.88dd1e","name":"","func":"if(msg.payload === \"input\"){\n\nif(context.global.state === false){\n  msg.payload = true;  \n}else{\n  msg.payload = false;\n}\ncontext.global.state = msg.payload;\n}\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":300,"wires":[[]]},{"id":"ab49ad4b.86b07","type":"ui_toast","z":"393672c6.88dd1e","position":"top left","displayTime":"3","name":"","x":730,"y":720,"wires":[]},{"id":"fe1779cb.291c68","type":"play audio","z":"393672c6.88dd1e","name":"","voice":"1","x":830,"y":680,"wires":[]},{"id":"511ef398.33f19c","type":"function","z":"393672c6.88dd1e","name":"","func":"if(msg.payload === true){\n  msg.payload = 'Radio switched on';  \n}\nelse{ \n    msg.payload = 'Radio switched off'; \n}\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":680,"wires":[["fe1779cb.291c68","a6583841.14b0c8"]]},{"id":"3446e444.ee6c1c","type":"ui_slider","z":"393672c6.88dd1e","name":"","label":"Volume ","group":"fba6a4e7.a2a528","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","x":500,"y":880,"wires":[["b98a8360.1c004"]]},{"id":"d87bed6b.68edd","type":"exec","z":"393672c6.88dd1e","command":"amixer cset numid=1 --","addpay":true,"append":"","useSpawn":"","timer":"","name":"Volume","x":860,"y":880,"wires":[["c3366a30.87aa88"],[],[]]},{"id":"c3366a30.87aa88","type":"debug","z":"393672c6.88dd1e","name":"","active":false,"console":"false","complete":"false","x":1050,"y":880,"wires":[]},{"id":"b98a8360.1c004","type":"function","z":"393672c6.88dd1e","name":"","func":"msg.payload/=3;\nif (msg.payload>0){ \n    msg.payload+=70;\n}\nmsg.payload+=\"%\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":880,"wires":[["d87bed6b.68edd"]]},{"id":"904f936d.f5c03","type":"mqtt out","z":"393672c6.88dd1e","name":"TVroomPSU","topic":"home/seatingroom/psu","qos":"0","retain":"","broker":"98e20565.5937e8","x":730,"y":280,"wires":[]},{"id":"b2ec7e8d.d7bed","type":"ui_gauge","z":"9f5ce4af.6dcc48","name":"Humidity","group":"45cec43e.24967c","order":0,"width":"0","height":"0","gtype":"gage","title":"Humidity","label":"Indoor ","format":"{{value}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":900,"y":640,"wires":[]},{"id":"a73784ab.39d288","type":"ui_gauge","z":"9f5ce4af.6dcc48","name":"Temperature","group":"45cec43e.24967c","order":0,"width":"0","height":"0","gtype":"gage","title":"Temperature","label":"Indoor","format":"{{value}}°C","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"x":910,"y":680,"wires":[]},{"id":"e9b65039.f027d","type":"function","z":"9f5ce4af.6dcc48","name":"function","func":"msg.payload = msg.payload.split(',');\ntemp = msg.payload[0].split(':');\nhum = msg.payload[1].split(':');\nldr = msg.payload[2].split(':');\nmsg.payload = [parseFloat(temp[1]), parseFloat(hum[1]), parseFloat(ldr[1])];\nreturn msg;\n","outputs":1,"noerr":0,"x":420,"y":620,"wires":[["8731da9b.7334c8","70ddde63.bb1ab","139a9c92.e74dc3","de0a5be7.aff858"]]},{"id":"8731da9b.7334c8","type":"function","z":"9f5ce4af.6dcc48","name":"function","func":"msg.payload =parseInt(msg.payload[1] -2)\nreturn msg;\n","outputs":1,"noerr":0,"x":680,"y":640,"wires":[["b2ec7e8d.d7bed"]]},{"id":"70ddde63.bb1ab","type":"function","z":"9f5ce4af.6dcc48","name":"function","func":"msg.payload = parseInt(msg.payload[0] +2)\nreturn msg;\n","outputs":1,"noerr":0,"x":680,"y":680,"wires":[["a73784ab.39d288"]]},{"id":"139a9c92.e74dc3","type":"debug","z":"9f5ce4af.6dcc48","name":"","active":false,"console":"false","complete":"payload","x":690,"y":600,"wires":[]},{"id":"de0a5be7.aff858","type":"function","z":"9f5ce4af.6dcc48","name":"function","func":"msg.payload = Math.round(msg.payload[2]/10.0)\nreturn msg;\n","outputs":1,"noerr":0,"x":670.9167175292969,"y":722.1666584014893,"wires":[["df3a584e.337b28","fb2cf850.b6db88","11c54113.75772f"]]},{"id":"df3a584e.337b28","type":"ui_gauge","z":"9f5ce4af.6dcc48","name":"","group":"45cec43e.24967c","order":0,"width":0,"height":0,"gtype":"gage","title":"luminosity","label":"luminosity","format":"{{value}}%","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff15"],"x":900,"y":760,"wires":[]},{"id":"fb2cf850.b6db88","type":"function","z":"9f5ce4af.6dcc48","name":"function","func":"if (msg.payload > 60){\n    msg.payload = 'Good Lighting';\n}\nelse if ((msg.payload > 45) && (msg.payload < 60)){\n    msg.payload = 'Moderate Lighting';\n} \nelse{\n    msg.payload = 'Bad Lighting';\n} \n\nreturn msg;\n","outputs":1,"noerr":0,"x":671,"y":775,"wires":[["11c54113.75772f","b4ec1b45.55ca98"]]},{"id":"11c54113.75772f","type":"debug","z":"9f5ce4af.6dcc48","name":"","active":false,"console":"false","complete":"payload","x":910,"y":720,"wires":[]},{"id":"b4ec1b45.55ca98","type":"ui_text","z":"9f5ce4af.6dcc48","group":"45cec43e.24967c","order":0,"width":0,"height":0,"name":"luminosity","label":"","format":"{{msg.payload}}","layout":"col-center","x":900,"y":800,"wires":[]},{"id":"2e229976.67e026","type":"google directions","z":"9f5ce4af.6dcc48","name":"","googleAPI":"8e362451.200bc8","origin":"SKA South Africa, Pinelands, South Africa","destination":"Somerset West, South Africa","mode":"driving","waypoints":"","alternatives":"","avoid":"","language":"","units":"metric","region":"","departure_time":"","arrival_time":"","transit_mode":"","transit_routing_preferences":"","x":710,"y":80,"wires":[["f1179e1b.b521b"]]},{"id":"f1179e1b.b521b","type":"debug","z":"9f5ce4af.6dcc48","name":"","active":false,"console":"false","complete":"false","x":930,"y":80,"wires":[]},{"id":"42941c3b.542da4","type":"google directions","z":"9f5ce4af.6dcc48","name":"","googleAPI":"8e362451.200bc8","origin":"Somerset West, South Africa","destination":"SKA South Africa, Pinelands, South Africa","mode":"driving","waypoints":"","alternatives":"","avoid":"","language":"","units":"metric","region":"","departure_time":"","arrival_time":"","transit_mode":"","transit_routing_preferences":"","x":710,"y":40,"wires":[["9dcc4255.f023e"]]},{"id":"9dcc4255.f023e","type":"debug","z":"9f5ce4af.6dcc48","name":"","active":true,"console":"false","complete":"true","x":910,"y":40,"wires":[]},{"id":"3a8ab650.f5814a","type":"ui_gauge","z":"9f5ce4af.6dcc48","name":"Humidity","group":"c52a7adc.1fa088","order":0,"width":"0","height":"0","gtype":"gage","title":"Humidity","label":"Indoor ","format":"{{value}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":880,"y":910,"wires":[]},{"id":"ceea2f2e.7a248","type":"ui_gauge","z":"9f5ce4af.6dcc48","name":"Temperature","group":"c52a7adc.1fa088","order":0,"width":"0","height":"0","gtype":"gage","title":"Temperature","label":"Indoor","format":"{{value}}°C","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"x":890,"y":950,"wires":[]},{"id":"6aced9ca.72c548","type":"function","z":"9f5ce4af.6dcc48","name":"function","func":"msg.payload = msg.payload.split(',');\ntemp = msg.payload[0].split(':');\nhum = msg.payload[1].split(':');\nldr = msg.payload[2].split(':');\nmsg.payload = [parseFloat(temp[1]), parseFloat(hum[1]), parseFloat(ldr[1])];\nreturn msg;\n","outputs":1,"noerr":0,"x":400,"y":890,"wires":[["bb9c6dc3.a8c18","fb67af9d.0136b","804c658d.78a528","2e0831c.0f46dce"]]},{"id":"bb9c6dc3.a8c18","type":"function","z":"9f5ce4af.6dcc48","name":"function","func":"msg.payload =parseInt(msg.payload[1])\nreturn msg;\n","outputs":1,"noerr":0,"x":660,"y":910,"wires":[["3a8ab650.f5814a"]]},{"id":"fb67af9d.0136b","type":"function","z":"9f5ce4af.6dcc48","name":"function","func":"msg.payload = parseInt(msg.payload[0])\nreturn msg;\n","outputs":1,"noerr":0,"x":660,"y":950,"wires":[["ceea2f2e.7a248"]]},{"id":"804c658d.78a528","type":"debug","z":"9f5ce4af.6dcc48","name":"","active":false,"console":"false","complete":"payload","x":670,"y":870,"wires":[]},{"id":"2e0831c.0f46dce","type":"function","z":"9f5ce4af.6dcc48","name":"function","func":"msg.payload = Math.round(msg.payload[2]/10.0)\nreturn msg;\n","outputs":1,"noerr":0,"x":650.9167175292969,"y":992.1666584014893,"wires":[["50cef05f.0dbe5","1c832ca2.956c73","1789e8ef.a9fc77"]]},{"id":"50cef05f.0dbe5","type":"ui_gauge","z":"9f5ce4af.6dcc48","name":"","group":"c52a7adc.1fa088","order":0,"width":0,"height":0,"gtype":"gage","title":"luminosity","label":"luminosity","format":"{{value}}%","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff15"],"x":880,"y":1030,"wires":[]},{"id":"1c832ca2.956c73","type":"function","z":"9f5ce4af.6dcc48","name":"function","func":"if (msg.payload > 60){\n    msg.payload = 'Good Lighting';\n}\nelse if ((msg.payload > 45) && (msg.payload < 60)){\n    msg.payload = 'Moderate Lighting';\n} \nelse{\n    msg.payload = 'Bad Lighting';\n} \n\nreturn msg;\n","outputs":1,"noerr":0,"x":651,"y":1045,"wires":[["1789e8ef.a9fc77","597e40be.3b84e"]]},{"id":"1789e8ef.a9fc77","type":"debug","z":"9f5ce4af.6dcc48","name":"","active":false,"console":"false","complete":"payload","x":890,"y":990,"wires":[]},{"id":"597e40be.3b84e","type":"ui_text","z":"9f5ce4af.6dcc48","group":"c52a7adc.1fa088","order":0,"width":0,"height":0,"name":"luminosity","label":"","format":"{{msg.payload}}","layout":"col-center","x":880,"y":1070,"wires":[]}]