1. Raspberry Pi/2. Control Center/NodeRed-Dashboard/dashboard_v2
[{"id":"9f5ce4af.6dcc48","type":"tab","label":"Weather"},{"id":"7bcf7daf.0607c4","type":"tab","label":"System"},{"id":"393672c6.88dd1e","type":"tab","label":"IO Control"},{"id":"98e20565.5937e8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"4639cce5.6b0f24","type":"mqtt-broker","z":"","broker":"192.168.1.5","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"dfe01e63.6c66","type":"mqtt-broker","z":"","broker":"m12.cloudmqtt.com","port":"13103","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"c9110894.5af5f8","type":"ui_base","name":"Dashboard","theme":"theme-dark"},{"id":"9e7934a.01babc8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"2ac12111.decc3e","type":"ui_group","z":"","name":"Outdoor Weather","tab":"9e7934a.01babc8","disp":true,"width":"6"},{"id":"fba6a4e7.a2a528","type":"ui_group","z":"","name":"Lights","tab":"9e7934a.01babc8","disp":true,"width":"6"},{"id":"5b83b417.a9e62c","type":"ivona-credentials","z":"","name":"mpho112","api_key":"GDNAIVZKP4LOJKJZQJWQ","password":"!nerd001"},{"id":"446080d3.89306","type":"ui_group","z":"","name":"Date and Time","tab":"9e7934a.01babc8","disp":false,"width":"20"},{"id":"1d8976cc.1c31f9","type":"ui_group","z":"","name":"CPU Load","tab":"573d1eda.35593","order":2,"disp":true,"width":"6"},{"id":"ebb6b599.bcf4f8","type":"ui_group","z":"","name":"Memory","tab":"573d1eda.35593","order":3,"disp":true,"width":"6"},{"id":"fafbb456.a20978","type":"ui_group","z":"","name":"System Information","tab":"573d1eda.35593","order":1,"disp":true,"width":"6"},{"id":"573d1eda.35593","type":"ui_tab","z":"","name":"System","icon":"computer"},{"id":"8b703f8c.ba781","type":"ui_group","z":"","name":"CPU Load","tab":"","order":2,"disp":true,"width":"6"},{"id":"c240bfd8.15d5d","type":"ui_group","z":"","name":"Memory","tab":"","order":3,"disp":true,"width":"6"},{"id":"bc6fd11d.2f479","type":"ui_group","z":"","name":"System Information","tab":"","order":1,"disp":true,"width":"6"},{"id":"40933c2c.f546f4","type":"mqtt-broker","z":"","broker":"","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"bd0ae382.7c9dd","type":"mqtt-broker","z":"","broker":"","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"44b73e93.a294b","type":"mqtt-broker","z":"","broker":"","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"17817eee.4e9c31","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"3d9d2338.21e9fc","type":"ui_group","name":"faa532ac.5082a","tab":"9e7934a.01babc8","order":null,"disp":true,"width":6},{"id":"a14ee0c7.45639","type":"ui_group","z":"","name":"Indoor Weather","tab":"9e7934a.01babc8","disp":true,"width":"6"},{"id":"35daa23f.1ae5fe","type":"websocket-listener","path":"/ws/location","wholemsg":"false"},{"id":"a563a6ac.dd65f8","type":"mqtt-broker","z":"","broker":"io.adafruit.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"6d247583.39c69c","type":"mqtt-broker","z":"","broker":"Localhost","port":"1883","clientid":"LocalNodeRed","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"f04d7f9f.83dff","type":"ui_group","z":"","name":"Indoor Temp Chart","tab":"9e7934a.01babc8","disp":true,"width":"6"},{"id":"349edb6f.2de444","type":"ui_group","z":"","name":"Charts","tab":"9e7934a.01babc8","disp":true,"width":"6"},{"id":"db7c5444.74cd68","type":"ui_group","name":"Group 8","tab":"9e7934a.01babc8","order":8,"disp":true,"width":6},{"id":"ff9851ea.694fe","type":"inject","z":"9f5ce4af.6dcc48","name":"Timestamp","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"x":450,"y":220,"wires":[["dc5d7c3.8d45d8"]]},{"id":"dc5d7c3.8d45d8","type":"openweathermap","z":"9f5ce4af.6dcc48","name":"","wtype":"current","lon":"","lat":"","city":"Cape Town","country":"South Africa","x":650,"y":220,"wires":[["2e2ce20f.7644ee","d9cf422d.33dfa","2670e0dc.311d4","ca91d8e8.bcb848"]]},{"id":"2670e0dc.311d4","type":"function","z":"9f5ce4af.6dcc48","name":"function","func":"if (msg.payload.tempc) {\n    msg.payload = msg.payload.tempc;\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":840,"y":280,"wires":[["e95b1c0.3e547e8","249e76a9.3d175a"]]},{"id":"e670656a.a09418","type":"ui_gauge","z":"9f5ce4af.6dcc48","name":"Humidity","group":"2ac12111.decc3e","order":0,"width":"0","height":"0","gtype":"gage","title":"Humidity","label":"Outdoor ","format":"{{value}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":1000,"y":240,"wires":[]},{"id":"2e2ce20f.7644ee","type":"function","z":"9f5ce4af.6dcc48","name":"function","func":"if (msg.payload.humidity) {\n    msg.payload = msg.payload.humidity;\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":840,"y":240,"wires":[["e670656a.a09418"]]},{"id":"e95b1c0.3e547e8","type":"ui_gauge","z":"9f5ce4af.6dcc48","name":"Temperature","group":"2ac12111.decc3e","order":0,"width":"0","height":"0","gtype":"gage","title":"Temperature","label":"Outdoor","format":"{{value}}°C","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"x":1010,"y":280,"wires":[]},{"id":"d9cf422d.33dfa","type":"ui_text","z":"9f5ce4af.6dcc48","group":"2ac12111.decc3e","order":0,"width":0,"height":0,"name":"","label":"Current Weather:","format":"{{msg.payload.detail}}","layout":"row-left","x":870,"y":200,"wires":[]},{"id":"b7894ee8.fc363","type":"OS","z":"7bcf7daf.0607c4","name":"","x":450,"y":380,"wires":[["e20aff0e.35ff8","500e0692.2134d8","e3820150.9f8ae"]]},{"id":"6c702c4.d9869d4","type":"Uptime","z":"7bcf7daf.0607c4","name":"","x":460,"y":340,"wires":[["cd0c88ce.fb1af8"]]},{"id":"cac4db27.255648","type":"CPUs","z":"7bcf7daf.0607c4","name":"","x":450,"y":420,"wires":[["30f735f9.9e113a"]]},{"id":"56818fef.e5d5","type":"Loadavg","z":"7bcf7daf.0607c4","name":"","x":460,"y":180,"wires":[["bfeafc51.26191","ac957a47.2ae6a8","e41882fd.5bc06","1b1027cc.962a38"]]},{"id":"1d61d51d.ad922b","type":"Memory","z":"7bcf7daf.0607c4","name":"","x":460,"y":580,"wires":[["24769499.37f52c","957bbde1.52025","e4d65c43.b5524","f4353f20.1daac"]]},{"id":"55c71761.736d18","type":"inject","z":"7bcf7daf.0607c4","name":"update","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"x":260,"y":300,"wires":[["b7894ee8.fc363","6c702c4.d9869d4","cac4db27.255648","56818fef.e5d5","1d61d51d.ad922b","b256f7ef.7b8678","dd8c7750.476728"]]},{"id":"24769499.37f52c","type":"function","z":"7bcf7daf.0607c4","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":660,"wires":[["ce80b156.56159"]]},{"id":"ce80b156.56159","type":"ui_gauge","z":"7bcf7daf.0607c4","name":"Memory Usage","group":"ebb6b599.bcf4f8","order":1,"width":"0","height":"0","gtype":"gage","title":"1 Minute","label":"Usage","format":"{{value | number:2}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":880,"y":660,"wires":[]},{"id":"957bbde1.52025","type":"function","z":"7bcf7daf.0607c4","name":"","func":"function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.totalmem);\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":700,"wires":[["60011d67.60fa84"]]},{"id":"e4d65c43.b5524","type":"function","z":"7bcf7daf.0607c4","name":"","func":"function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.freemem);\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":740,"wires":[["73c9d015.76df6"]]},{"id":"60011d67.60fa84","type":"ui_text","z":"7bcf7daf.0607c4","group":"ebb6b599.bcf4f8","order":2,"width":"0","height":"0","name":"","label":"Total Memory","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":700,"wires":[]},{"id":"73c9d015.76df6","type":"ui_text","z":"7bcf7daf.0607c4","group":"ebb6b599.bcf4f8","order":3,"width":"0","height":"0","name":"","label":"Free Memory","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":740,"wires":[]},{"id":"cd0c88ce.fb1af8","type":"function","z":"7bcf7daf.0607c4","name":"","func":"function timeConversion(millisec) {\n\n    var seconds = (millisec / 1000).toFixed(1);\n\n    var minutes = (millisec / (1000 * 60)).toFixed(1);\n\n    var hours = (millisec / (1000 * 60 * 60)).toFixed(1);\n\n    var days = (millisec / (1000 * 60 * 60 * 24)).toFixed(1);\n\n    if (seconds < 60) {\n        return seconds + \" Sec\";\n    } else if (minutes < 60) {\n        return minutes + \" Min\";\n    } else if (hours < 24) {\n        return hours + \" Hrs\";\n    } else {\n        return days + \" Days\"\n    }\n}\n\nmsg.payload = timeConversion(msg.payload.uptime * 1000);\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":380,"wires":[["d2b11cf0.bed81"]]},{"id":"d2b11cf0.bed81","type":"ui_text","z":"7bcf7daf.0607c4","group":"fafbb456.a20978","order":1,"width":"0","height":"0","name":"","label":"Uptime","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":380,"wires":[]},{"id":"e20aff0e.35ff8","type":"function","z":"7bcf7daf.0607c4","name":"","func":"msg.payload = msg.payload.hostname;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":420,"wires":[["86885a93.39bf88"]]},{"id":"86885a93.39bf88","type":"ui_text","z":"7bcf7daf.0607c4","group":"fafbb456.a20978","order":1,"width":"0","height":"0","name":"","label":"Hostname","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":420,"wires":[]},{"id":"500e0692.2134d8","type":"function","z":"7bcf7daf.0607c4","name":"","func":"msg.payload = msg.payload.platform;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":460,"wires":[["72cd96ac.ac3a88"]]},{"id":"72cd96ac.ac3a88","type":"ui_text","z":"7bcf7daf.0607c4","group":"fafbb456.a20978","order":1,"width":"0","height":"0","name":"","label":"Platform","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":460,"wires":[]},{"id":"e3820150.9f8ae","type":"function","z":"7bcf7daf.0607c4","name":"","func":"msg.payload = msg.payload.release;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":500,"wires":[["140737d0.ac5ac8"]]},{"id":"140737d0.ac5ac8","type":"ui_text","z":"7bcf7daf.0607c4","group":"fafbb456.a20978","order":1,"width":"0","height":"0","name":"","label":"Release","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":500,"wires":[]},{"id":"30f735f9.9e113a","type":"function","z":"7bcf7daf.0607c4","name":"","func":"msg.payload = msg.payload.cpus[0].model;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":540,"wires":[["dc0bb978.484908"]]},{"id":"dc0bb978.484908","type":"ui_text","z":"7bcf7daf.0607c4","group":"fafbb456.a20978","order":1,"width":"0","height":"0","name":"","label":"CPU 1","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":540,"wires":[]},{"id":"bfeafc51.26191","type":"function","z":"7bcf7daf.0607c4","name":"","func":"msg.payload = msg.payload.loadavg[0];\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":260,"wires":[["3fb9cd9f.8e4402"]]},{"id":"3fb9cd9f.8e4402","type":"ui_chart","z":"7bcf7daf.0607c4","name":"CPU Load - Historical","group":"1d8976cc.1c31f9","order":0,"width":"0","height":"0","label":"24 Hours","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderUnit":"86400","x":880,"y":260,"wires":[[],[]]},{"id":"f4353f20.1daac","type":"function","z":"7bcf7daf.0607c4","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":620,"wires":[["e8a2f78d.f3dca8"]]},{"id":"e8a2f78d.f3dca8","type":"ui_chart","z":"7bcf7daf.0607c4","name":"Memory - 24 Hours","group":"ebb6b599.bcf4f8","order":0,"width":"0","height":"0","label":"24 Hours","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderUnit":"86400","x":890,"y":620,"wires":[[],[]]},{"id":"27b2ff6d.cfb9a","type":"comment","z":"7bcf7daf.0607c4","name":"CPU Load","info":"","x":460,"y":80,"wires":[]},{"id":"96cd6c38.b19df","type":"comment","z":"7bcf7daf.0607c4","name":"Memory Usage","info":"","x":480,"y":540,"wires":[]},{"id":"4279f3e7.9408ac","type":"comment","z":"7bcf7daf.0607c4","name":"System Information","info":"","x":490,"y":260,"wires":[]},{"id":"b256f7ef.7b8678","type":"NetworkIntf","z":"7bcf7daf.0607c4","name":"","x":470,"y":300,"wires":[["6ba96cc0.ddd2d4"]]},{"id":"6ba96cc0.ddd2d4","type":"function","z":"7bcf7daf.0607c4","name":"","func":"msg.payload = msg.payload.networkInterfaces.eth0[0].address;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":340,"wires":[["5daa7aeb.a44584"]]},{"id":"5daa7aeb.a44584","type":"ui_text","z":"7bcf7daf.0607c4","group":"fafbb456.a20978","order":3,"width":"0","height":"0","name":"","label":"eth0 IP","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":340,"wires":[]},{"id":"dd8c7750.476728","type":"exec","z":"7bcf7daf.0607c4","command":"/opt/vc/bin/vcgencmd ","addpay":true,"append":"measure_temp","useSpawn":"","timer":"","name":"","x":500,"y":120,"wires":[["3c4fd7ff.d76dd8"],[],[]]},{"id":"3c4fd7ff.d76dd8","type":"function","z":"7bcf7daf.0607c4","name":"","func":"msg.payload = msg.payload.replace('temp=', '').replace('\\'C','');\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":100,"wires":[["6c2fc521.3b544c"]]},{"id":"6c2fc521.3b544c","type":"ui_gauge","z":"7bcf7daf.0607c4","name":"CPU Temp","group":"1d8976cc.1c31f9","order":1,"width":"0","height":"0","gtype":"gage","title":"Temp","label":"Temp","format":"{{value}}°C","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"x":850,"y":100,"wires":[]},{"id":"ac957a47.2ae6a8","type":"function","z":"7bcf7daf.0607c4","name":"","func":"msg.payload = msg.payload.loadavg[0];\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":140,"wires":[["e36f7156.f0e9d"]]},{"id":"e41882fd.5bc06","type":"function","z":"7bcf7daf.0607c4","name":"","func":"msg.payload = msg.payload.loadavg[1];\nreturn msg;","outputs":1,"noerr":0,"x":691,"y":178,"wires":[["73916d33.acd974"]]},{"id":"1b1027cc.962a38","type":"function","z":"7bcf7daf.0607c4","name":"","func":"msg.payload = msg.payload.loadavg[2];\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":221,"wires":[["651d738f.3b38ac"]]},{"id":"e36f7156.f0e9d","type":"ui_gauge","z":"7bcf7daf.0607c4","name":"CPU Load 1","group":"1d8976cc.1c31f9","order":1,"width":"0","height":"0","gtype":"gage","title":"1 Minute","label":"load","format":"{{value | number:2}}","min":0,"max":"4","colors":["#00b500","#e6e600","#ca3838"],"x":850,"y":140,"wires":[]},{"id":"73916d33.acd974","type":"ui_gauge","z":"7bcf7daf.0607c4","name":"CPU Load 2","group":"1d8976cc.1c31f9","order":2,"width":"3","height":"3","gtype":"gage","title":"5 Minutes","label":"load","format":"{{value | number:2}}","min":0,"max":"4","colors":["#00b500","#e6e600","#ca3838"],"x":850,"y":180,"wires":[]},{"id":"651d738f.3b38ac","type":"ui_gauge","z":"7bcf7daf.0607c4","name":"CPU Load 3","group":"1d8976cc.1c31f9","order":4,"width":"3","height":"3","gtype":"gage","title":"15 Minutes","label":"load","format":"{{value | number:2}}","min":0,"max":"4","colors":["#00b500","#e6e600","#ca3838"],"x":850,"y":220,"wires":[]},{"id":"7d1f7689.3b9018","type":"comment","z":"9f5ce4af.6dcc48","name":"Weather","info":"","x":430,"y":180,"wires":[]},{"id":"119c60c7.ec594f","type":"ui_gauge","z":"9f5ce4af.6dcc48","name":"Humidity","group":"a14ee0c7.45639","order":0,"width":"0","height":"0","gtype":"gage","title":"Humidity","label":"Indoor ","format":"{{value}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":1000,"y":360,"wires":[]},{"id":"88fb2eec.431d1","type":"ui_gauge","z":"9f5ce4af.6dcc48","name":"Temperature","group":"a14ee0c7.45639","order":0,"width":"0","height":"0","gtype":"gage","title":"Temperature","label":"Indoor","format":"{{value}}°C","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"x":1010,"y":400,"wires":[]},{"id":"ca91d8e8.bcb848","type":"debug","z":"9f5ce4af.6dcc48","name":"","active":false,"console":"false","complete":"false","x":850,"y":160,"wires":[]},{"id":"806f592a.790bf8","type":"debug","z":"9f5ce4af.6dcc48","name":"","active":false,"console":"false","complete":"payload","x":630,"y":260,"wires":[]},{"id":"8da3dfda.a27d3","type":"mqtt in","z":"9f5ce4af.6dcc48","name":"ESP8266_DHT11","topic":"home/mainbedroom/temp","qos":"0","broker":"17817eee.4e9c31","x":440,"y":280,"wires":[["2339305a.365cb","806f592a.790bf8"]]},{"id":"2339305a.365cb","type":"function","z":"9f5ce4af.6dcc48","name":"function","func":"msg.payload = msg.payload.split(',')\ntemp = msg.payload[0].split(':')\nhum = msg.payload[1].split(':')\nmsg.payload = [parseFloat(temp[1]), parseFloat(hum[1])]\nreturn msg;\n","outputs":1,"noerr":0,"x":620,"y":300,"wires":[["428fea09.dc3404","4f22849.10ef37c"]]},{"id":"428fea09.dc3404","type":"function","z":"9f5ce4af.6dcc48","name":"function","func":"msg.payload = msg.payload[1]\nreturn msg;\n","outputs":1,"noerr":0,"x":840,"y":360,"wires":[["119c60c7.ec594f"]]},{"id":"4f22849.10ef37c","type":"function","z":"9f5ce4af.6dcc48","name":"function","func":"msg.payload = msg.payload[0]\nreturn msg;\n","outputs":1,"noerr":0,"x":840,"y":400,"wires":[["88fb2eec.431d1","f43405fc.3baac8"]]},{"id":"614f6971.1453e8","type":"ui_chart","z":"9f5ce4af.6dcc48","name":"","group":"349edb6f.2de444","order":0,"width":"0","height":"0","label":"Temperature","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"Temperature","ymin":"","ymax":"","removeOlder":1,"removeOlderUnit":"3600","x":1170,"y":500,"wires":[[],[]]},{"id":"249e76a9.3d175a","type":"ui_chart","z":"9f5ce4af.6dcc48","name":"","group":"349edb6f.2de444","order":0,"width":"0","height":"0","label":"chart","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderUnit":"3600","x":990,"y":320,"wires":[[],[]]},{"id":"1092d1a0.772fbe","type":"ui_switch","z":"393672c6.88dd1e","name":"On/Off","label":"On/Off","group":"fba6a4e7.a2a528","order":0,"width":"6","height":"2","passthru":true,"topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":490,"y":160,"wires":[["7106c623.424638","71691f9c.3584d"]]},{"id":"7106c623.424638","type":"mqtt out","z":"393672c6.88dd1e","name":"ESP8266_Switch","topic":"home/mainbedroom/light","qos":"0","retain":"","broker":"98e20565.5937e8","x":670,"y":100,"wires":[]},{"id":"71691f9c.3584d","type":"function","z":"393672c6.88dd1e","name":"function","func":"if (msg.payload == 1) {\n    msg.payload = 'Light switched ON!'\n    return msg;\n}\nelse if (msg.payload === 0) {\n    msg.payload = 'Light switched OFF!'\n    return msg;\n}\nelse {\n    return null;\n}","outputs":1,"noerr":0,"x":640,"y":160,"wires":[["972ebe96.4808d","9f125cf2.45ae9","a6583841.14b0c8"]]},{"id":"972ebe96.4808d","type":"play audio","z":"393672c6.88dd1e","name":"","voice":"1","x":810,"y":140,"wires":[]},{"id":"9f125cf2.45ae9","type":"debug","z":"393672c6.88dd1e","name":"","active":false,"console":"false","complete":"false","x":810,"y":180,"wires":[]},{"id":"2547da37.4edb66","type":"ui_button","z":"393672c6.88dd1e","name":"","group":"fba6a4e7.a2a528","order":0,"width":"3","height":"1","label":"button","color":"","icon":"","payload":"","payloadType":"str","topic":"","x":490,"y":200,"wires":[["a6583841.14b0c8"]]},{"id":"a6583841.14b0c8","type":"ui_toast","z":"393672c6.88dd1e","position":"top left","displayTime":"3","name":"","x":830,"y":220,"wires":[]},{"id":"2dc9f964.f46ac6","type":"ui_button","z":"393672c6.88dd1e","name":"","group":"fba6a4e7.a2a528","order":0,"width":"3","height":"1","label":"button","color":"","icon":"","payload":"","payloadType":"str","topic":"","x":490,"y":240,"wires":[["a6583841.14b0c8"]]},{"id":"ea6b1de7.9a0f7","type":"comment","z":"393672c6.88dd1e","name":"Buttons and Switches","info":"","x":540,"y":60,"wires":[]},{"id":"cd532218.26b4a","type":"ui_button","z":"393672c6.88dd1e","name":"","group":"fba6a4e7.a2a528","order":0,"width":"3","height":"1","label":"button","color":"","icon":"","payload":"","payloadType":"str","topic":"","x":490,"y":280,"wires":[["a6583841.14b0c8"]]},{"id":"7382fb19.70fa04","type":"ui_button","z":"393672c6.88dd1e","name":"","group":"fba6a4e7.a2a528","order":0,"width":"3","height":"1","label":"button","color":"","icon":"","payload":"","payloadType":"str","topic":"","x":490,"y":320,"wires":[["a6583841.14b0c8"]]},{"id":"51f22363.a98b9c","type":"ui_button","z":"393672c6.88dd1e","name":"","group":"fba6a4e7.a2a528","order":0,"width":"3","height":"1","label":"button","color":"","icon":"","payload":"","payloadType":"str","topic":"","x":490,"y":360,"wires":[["a6583841.14b0c8"]]},{"id":"de1d8e8.392a07","type":"ui_button","z":"393672c6.88dd1e","name":"","group":"fba6a4e7.a2a528","order":0,"width":"3","height":"1","label":"button","color":"","icon":"","payload":"","payloadType":"str","topic":"","x":490,"y":400,"wires":[["a6583841.14b0c8"]]},{"id":"4e47471e.af8948","type":"ui_button","z":"393672c6.88dd1e","name":"","group":"fba6a4e7.a2a528","order":0,"width":"3","height":"1","label":"button","color":"","icon":"","payload":"","payloadType":"str","topic":"","x":490,"y":440,"wires":[["a6583841.14b0c8"]]},{"id":"6314ffaa.b31fb","type":"ui_button","z":"393672c6.88dd1e","name":"","group":"fba6a4e7.a2a528","order":0,"width":"3","height":"1","label":"button","color":"","icon":"","payload":"","payloadType":"str","topic":"","x":490,"y":480,"wires":[["a6583841.14b0c8"]]},{"id":"6d0206ae.0044f8","type":"ui_button","z":"393672c6.88dd1e","name":"","group":"fba6a4e7.a2a528","order":0,"width":"3","height":"1","label":"button","color":"","icon":"","payload":"","payloadType":"str","topic":"","x":490,"y":520,"wires":[["a6583841.14b0c8"]]},{"id":"5ba2f1a9.b1ee3","type":"ui_button","z":"393672c6.88dd1e","name":"","group":"fba6a4e7.a2a528","order":0,"width":"3","height":"1","label":"button","color":"","icon":"","payload":"","payloadType":"str","topic":"","x":490,"y":560,"wires":[["a6583841.14b0c8"]]},{"id":"2535f3b9.2e062c","type":"ui_button","z":"393672c6.88dd1e","name":"","group":"fba6a4e7.a2a528","order":0,"width":"3","height":"1","label":"button","color":"","icon":"","payload":"","payloadType":"str","topic":"","x":490,"y":600,"wires":[["a6583841.14b0c8"]]},{"id":"48624b03.eb08a4","type":"ui_button","z":"393672c6.88dd1e","name":"","group":"fba6a4e7.a2a528","order":0,"width":"3","height":"1","label":"button","color":"","icon":"","payload":"","payloadType":"str","topic":"","x":490,"y":640,"wires":[["a6583841.14b0c8"]]},{"id":"4faeb68d.7eb8f8","type":"ui_button","z":"393672c6.88dd1e","name":"","group":"fba6a4e7.a2a528","order":0,"width":"3","height":"1","label":"button","color":"","icon":"","payload":"","payloadType":"str","topic":"","x":490,"y":680,"wires":[["a6583841.14b0c8"]]},{"id":"85416ecd.bb1da","type":"ui_button","z":"393672c6.88dd1e","name":"","group":"fba6a4e7.a2a528","order":0,"width":"3","height":"1","label":"button","color":"","icon":"","payload":"","payloadType":"str","topic":"","x":490,"y":720,"wires":[["a6583841.14b0c8"]]},{"id":"f8e9c06e.973cb","type":"debug","z":"9f5ce4af.6dcc48","name":"","active":true,"console":"false","complete":"false","x":1190,"y":460,"wires":[]},{"id":"f43405fc.3baac8","type":"delay","z":"9f5ce4af.6dcc48","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"60","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1020,"y":460,"wires":[["614f6971.1453e8","f8e9c06e.973cb"]]}]
